h1{
    text-align: center;
}

body {
    background-image: url('https://i.imgur.com/ZUElJpo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


button {
    align-content: center;
    position: relative;
    color: goldenrod;
    background-color: black;
    display: inline-block;

}