h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    ;
    font-size: xxx-large;
    color: yellow;
    font-variant: small-caps;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
}

body {
    background-color: rgb(29, 11, 69);
    color: aliceblue;
}

button {
    margin:50px;
    color: rgb(163, 20, 20);
    background-color: black;
    align-items: center;
}
