h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    ;
    font-size: xxx-large;
    color: yellow;
    font-variant: small-caps;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
}

body {
   
    background-color: rgb(29, 11, 69);
    color: aliceblue;

}

button {
    
    margin: 33px;
    color: rgb(25, 185, 11);
    background-color: black;
    text-align: center;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}

h3 {
    position: static;
    text-align: center;
    text-indent: 15%;
    padding-right: 220px;

}


 #StonkyModal {
    width: 100px;
    height: 100px;
    background-image: url('https://i.imgur.com/6d29qwX.jpg');
    transition: all 0.3s;
  }
 
dialog {
    background-color: gold;
    margin-top: 100px;
    width: 500;
    height: 300;
   
}

StonkyData {
    font-size: small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    position: static;
}


bvbbutton {
    display: flex
    
}

/* 
consulted chatGPT to figure out how to make animation dance foir BnB-8-ball */ 

#magicBallImage {
    transition: all 1s ease; /* Apply transition for smooth animation */
  }
  
  .expand {
    animation: danceExpand 4.2s infinite;
  }
  
  @keyframes danceExpand {
    0% {
      transform: scale(1.5); /* Initial size */
      border-top-right-radius: 50px;
      border-top-left-radius: 20pxß;
      border-top-width: 50%;
    }
    50% {
      transform: scale(6.9); /* Expanded size */
      transform-origin: center;
      border-width: 15%;
      border-radius: 35px;
    }
    100% {
      transform: scale(4.2); /* Return to initial size */
      border-radius: 5px;
    }
  }
  